@page "/"
@implements IDisposable
<PageTitle>Home</PageTitle>
<div style="width: 100%; height: 100%">
    @foreach(var b in recs)
    {
        <WFGroupBox MainCss="col-12" >
            <WFGroupBoxContent>
                <div class="container col-12 text-center bubblegumsans">
                    <p/>
                    <span>@((MarkupString)FixHtml(b.Html))</span>
                </div>
            </WFGroupBoxContent>
        </WFGroupBox>
    }
</div>
@code 
{
    [CascadingParameter] public WFAppState AppState { get; set; }
    BlogEditCtx ctx;
    DSList<Blog> recs;

    string clickTheFish = "<img onclick=\"doClickById('MenuBtn')\" src='images/ClickTheFish.svg' alt='Click The Fish' style='width: 256px;' />";

    string FixHtml(string html)
    {
        var result = html.Replace("$ClickTheFish$",clickTheFish);
        return result;
    }
    protected override void OnInitialized()
    {
        using var filters = FilterList.Rent();
        filters.Add(Blog.FID.IsPublished, "true");
        ctx = BlogEditCtx.Rent(AppState);
        ctx.ShowAllRegularFields();
        recs = ctx.DataProvider.Read(0, 10, filters);
    }
    public void Dispose()
    {
        ctx.Dispose();
        recs.Dispose();
    }
}
